/input/MNCAATourneySeeds.csv
/input/MNCAATourneySlots.csv
/input/MSeasons.csv
/input/MTeams.csv
/input/WNCAATourneySeeds.csv
/input/WNCAATourneySlots.csv
/input/WSeasons.csv
/input/WTeams.csv
/input/Msubmission.csv
/input/Wsubmission.csv